allow qti_init_shell graphics_device:chr_file getattr;
allow qti_init_shell system_data_file:lnk_file { create unlink };
allow qti_init_shell bluetooth_loader_exec:file { read open };
