on boot
    chown root system /sys/class/power_supply/battery/charging_enabled
    chmod 0664 /sys/class/power_supply/battery/charging_enabled
    restorecon /sys/class/power_supply/battery/charging_enabled

service charger /charger
    class charger
    group log
    seclabel u:r:healthd:s0

on charger
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

on class_start:late_start
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power

on property:dev.bootcomplete=1
    setprop sys.io.scheduler "bfq"
